<div style="float: left;width: 100%;">
    <div class="g-box">
        <div class="g-row" ng-click="click(this)" idVal="123">
            <li class="g-col">数据1</li>
            <li class="g-col">数据2</li>
            <li class="g-col">数据3</li>
            <li class="g-col">数据4</li>
        </div>
        <div class="g-row" ng-click="click(this)" idVal="124">
            <li class="g-col">数据1</li>
            <li class="g-col">数据2</li>
            <li class="g-col">数据3</li>
            <li class="g-col">数据4</li>
        </div>
        <div class="g-row" ng-click="click(this)" idVal="125">
            <li class="g-col">数据1</li>
            <li class="g-col">数据2</li>
            <li class="g-col">数据3</li>
            <li class="g-col">数据4</li>
        </div>
    </div>
</div>

