.n-item{
    float: left;
    margin:4px;
    .disabled{
        color: #39cccc;
    }
    .active {
        color: #2ecc40;
    }
}
.g-box{
    width: 100%;
    float: left;
    .g-row{
        width:100%;
        float: left;
        background: #3d9970;
        margin:1px 0;
        &:nth-child(2){
            background: #39cccc;
        }
        &:hover{
            background: #ff4136;
            cursor: pointer;
        }
        &.active{
            background: #00b3ee;
        }
        .g-col{
            float: left;
            padding:0 10px;
        }
    }
}